:root {
    /* Colors: */
    --blanco: #FFFFFF;
    --gris: #F4F4F4;
    --gris-1: #EBEBEB;
    --gris-2: #CECECE;
    --gris-3: #8C8C8C;
    --gris-4: #666666;
    --rojo: #DD1B37;
    --verde: #11B260;
    --verde-secundario: #89F599;
    --azul-digital: #00C1D4;
    --azul-financiero: #2C8B9E;
    --azul-experto: #003865;
    --amarillo-optimista: #FFB81C;
    --amarillo-empatico: #FDD26E;
}

@font-face {
    font-family: 'Lato';
        src: 
            url(templates/default/libraries/bootstrap/fonts/Lato/Lato-Regular.ttf),
            url(templates/default/libraries/bootstrap/fonts/Lato/Lato-Bold.ttf),
            url(templates/default/libraries/bootstrap/fonts/Lato/Lato-Black.ttf);
}

* {
    font-family: 'Lato';
}

/* COMPONENTE: Modales */
    .bi_modal {
        background-color: rgb(140, 140, 140, 0.73);
        backdrop-filter: blur(7px);
        color: var(--blanco);
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0px;
        left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 900;
    }
    .bi_modal__content {
        background: var(--blanco);
        color: var(--azul-experto);
        border-radius: 20px !important;
        box-shadow: 0px 3px 6px #00000029;
        padding: 0 60px;
        position: relative;
        text-align: center;
        width: 660px;
    }

    /* Icono */
    .bi_modal__content .bi_modal__icon {
        width: 100%;
        text-align: center;
        margin: 60px auto;
    }
    .bi_modal__content .bi_modal__icon img {
        width: 104px;
        height: 104px;
    }
    .bi_modal__content .bi_modal__icon_help {
        width: 100%;
        text-align: center;
        margin-top: 60px;
    }
    .bi_modal__content .bi_modal__icon_help img {
        width: 104px;
        height: 104px;
    }
    /* Fin Icono */

    /* Buttons */
    .bi_modal__content .bi_modal__btn_close {
        background: var(--azul-experto);
        border: 0px;
        border-radius: 30px;
        color: var(--blanco);
        text-align: center;
        font-size: 20px;
        font-weight: 100 !important;
        margin: 60px auto;       
        height: 60px;
        min-width: 220px;
        padding: 0 60px;
    }
    .bi_modal__content .bi_modal__btn_close_help {
        background: var(--azul-experto);
        border: 0px;
        border-radius: 30px;
        color: var(--blanco);
        text-align: center;
        font-size: 20px;
        font-weight: 100 !important;
        margin-top: 60px;       
        margin-bottom: 30px;       
        height: 60px;
        min-width: 220px;
        padding: 0 60px;
    }
    .bi_modal__content .bi_modal__btn_close_exit { /* Button X */
        background: none;
        border: none;
        font-size: 4rem; 
        color: var(--gris-2);
        cursor: pointer; 
        position: absolute;
        top: 10px;
        right: 20px;
    }
    .bi_modal__content .bi_modal__btn_close_error {
        background: var(--azul-experto);
        border: 0px;
        border-radius: 30px;
        color: var(--blanco);
        text-align: center;
        font-size: 20px;
        font-weight: 100 !important;
        margin-top: 60px;       
        margin-bottom: 60px;       
        height: 60px;
        min-width: 220px;
        padding: 0 60px;
    }
    .bi_modal__content .bi_modal__btn_close:hover {
        color:  var(--blanco);
    }
    .bi_modal__content .bi_modal__btn_close_help:hover {
        color:  var(--blanco);
    }
    .bi_modal__content .bi_modal__btn_close_error:hover {
        color:  var(--blanco);
    }
    /* Fin Buttons */

    /* Contenidos */
    .bi_modal__content .bi_modal__info {
        font-size: 34px;
        font-weight: bold;
    }
    .bi_modal__content .bi_modal__info_other {
        font-size: 34px;
        font-weight: 100;
        margin-top: 60px;
    }
    .bi_modal__content .bi_modal__info_help {
        font-size: 20px;
    }
    .bi_modal__content .bi_modal__info_error {
        font-size: 34px;
        font-weight: bold;
        margin-top: 60px;
        margin-bottom: 27px;
    }
    .bi_modal__content .bi_modal__info_error_msj {
        font-size: 24px;
        font-weight: bold;
        padding: 0 3rem;
        color: var(--azul-experto);
        margin-bottom: 30px;
    }
    .bi_modal__content .bi_modal__info_error_msj_help {
        font-size: 20px;
        color: var(--gris-4);
    }
    .bi_modal__content .bi_modal__info_error_msj_help .bi_modal__info_error_msj_help_number {
        color: var(--azul-experto);
        font-weight: bold;
        border-bottom: 1px solid var(--azul-experto);
    }
    .bi_modal__content .bi_modal__info_help_number {
        font-size: 60px;
        font-weight: bold;
        margin-top: 30px;
    }
    .bi_modal__content .bi_modal__info_help_preguntas {
        font-size: 20px;
        margin-bottom: 60px;
    }
    .bi_modal__content .bi_modal__info_help_preguntas a {
        border-bottom: 1px solid var(--azul-experto);
        text-decoration: none;
    }
    /* Fin Contenidos */

    /* Movil */
    @media(max-width: 768px) {
        
        .bi_modal__content {
            width: 262px;
            padding: 0 16px;
        }

        /* Icono */
        .bi_modal__content .bi_modal__icon {
            position: absolute;
            display: block;
            text-align: center;
            margin-top: -40px;
            width: 230px;
        }
        .bi_modal__content .bi_modal__icon img {
            width: 80px;
            height: 80px;
        }
        .bi_modal__content .bi_modal__icon_help {
            position: absolute;
            display: block;
            text-align: center;
            margin-top: -40px;
            width: 230px;
        }
        .bi_modal__content .bi_modal__icon_help img {
            width: 80px;
            height: 80px;
        }
        /* Fin Icono */

        /* Buttons */
        .bi_modal__content .bi_modal__btn_close {
            margin: 0 auto;       
            margin-bottom: 48px;       
            margin-top: 32px;       
            height: 60px;
            min-width: 150px;
            padding: 0 30px;
            font-weight: 100;
        }
        .bi_modal__content .bi_modal__btn_close_help {
            margin: 0 auto;       
            margin-bottom: 48px;       
            margin-top: 32px;       
            height: 60px;
            min-width: 150px;
            padding: 0 30px;
            font-weight: 100;
        }
        .bi_modal__content .bi_modal__btn_close_exit { /* Button X */
            font-size: 2.5rem; 
            /* padding: 1rem 2.5rem; */
            z-index: 901;
        }
        .bi_modal__content .bi_modal__btn_close_error {
            margin: 0 auto;       
            margin-bottom: 48px;       
            margin-top: 32px;       
            height: 60px;
            min-width: 150px;
            padding: 0 30px;
            font-weight: 100;
        }
        /* Fin Buttons */

        /* Contenidos */
        .bi_modal__content .bi_modal__info {
            font-size: 20px;
            font-weight: 100;
            margin-top: 32px;
            padding-top: 32px;
        }
        .bi_modal__content .bi_modal__info_other {
            font-size: 20px;
            font-weight: 100;
            margin-top: 32px;
        }
        .bi_modal__content .bi_modal__info_help {
            font-size: 20px;
            font-weight: 100;
            margin-top: 32px;
            padding-top: 32px;
        }
        .bi_modal__content .bi_modal__info_error {
            font-size: 24px;
            font-weight: 100;
            margin-top: 32px;
            padding-top: 32px;
        }
        .bi_modal__content .bi_modal__info_error_msj {
            font-size: 20px;
            font-weight: 100;
            padding: 0 3rem;
            color: var(--azul-experto);
            margin-bottom: 32px;
        }
        .bi_modal__content .bi_modal__info_error_msj_help {
            font-size: 20px;
        }
        .bi_modal__content .bi_modal__info_help_number {
            font-size: 30px;
            font-weight: bold;
            margin-top: 30px;
        }
        .bi_modal__content .bi_modal__info_help_preguntas {
            font-size: 20px;
            margin-bottom: 48px;
        }
        /* Fin Contenidos */
    }

    /* Movil pantalla menor a 400px - Contenidos */
    /* @media(max-width: 400px) {

        .bi_modal__content .bi_modal__info_help {
            font-size: 1.4rem;
        }
        .bi_modal__content .bi_modal__info_help_number {
            font-size: 4rem;
        }
        .bi_modal__content .bi_modal__info_help_preguntas {
            font-size: 1.5rem;
        }
    } */

    /* Movil pantalla menor a 300px - Contenidos */
    /* @media(max-width: 350) {
        
        .bi_modal__content .bi_modal__info_help {
            font-size: 1.1rem;
        }
        .bi_modal__content .bi_modal__info_help_number {
            font-size: 3rem;
        }
        .bi_modal__content .bi_modal__info_help_preguntas {
            font-size: 1.2rem;
        }
    } */
/* Fin COMPONENTE: Modales */